.task-request-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 150px;
  background: rgba(122, 137, 194, 0.4);
  align-items: center;
  border-radius: 5%;
  padding: 1.2rem;
}

@media (min-width: 600px) {
  .task-request-container {
    width: 50%;
    margin: 0 auto;
    border-radius: 2%;
  }
}
